// app global css in SCSS form
/*$text-color:#ffd900;
$second-text-color:#ffffff;
$titles-color:#ffffff;
$font:'Courier New', Courier, monospace;
$shadow: 6px 2px 18px #ff0263;
$button-color: #ff7dc9;
$image: url(/predio.jpg) center/cover;
$margin: 8px;
$border-radius: 12px;

.page-post {
    background-color: #000000;
    color: $text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    margin-top: 1px;
    margin-left: 0px;
    font-size: large;

    &__header {
        justify-content: center;
        align-items: center;
    
        &--size-lg{
            width: 100%;
            height: 100%;
            color:$second-text-color;
            text-shadow: 6px 2px 18px #e5ff00;
        }
    }
}
/*
.page-post__image {
    background: $image;
    width: 100%;
    height: 250px;
    border-radius: $border-radius;
}*/
/*
.second-page-post {
    background-color: #000000;
    color: $text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    margin-left: 700px;
    margin-top: -658px;
    font-size: large;

    &__header {
        justify-content: center;
        align-items: center;
    
        &--size-lg{
            width: 100%;
            height: 100%;
            color:$second-text-color;
            text-shadow: 6px 2px 18px #e5ff00;
        }
    }
}

.page-post__title {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff0582;
    margin-left: 88px;
    font-size: 30px;
    color: $titles-color;
}
.second-page-post__title {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff0582;
    margin-left: 88px;
    font-size: 30px;
    color: $titles-color;
}
/*
.second-page-post__image {
    background: $image;
    width: 100%;
    height: 250px;
    border-radius: $border-radius;
}*//*
img{
    margin-left: 1.5%;
}
.page-post__card {
    width: 28%;    
    box-shadow: $shadow;
    .page-post__description {
        margin-left: 4.8%;
        margin-right: 8px;
    }
}
    .page-post__action {
        button{
        width: 88px;
        height: 38px;
        color:$titles-color;
        font-size: 11.4px;
        margin-left: 3%;
        margin-right: 21%;
        background-color: $button-color;
        margin-top: $margin;
        border-radius: $border-radius;
    }
}

.second-page-post__card {  
    width: 28%;    
    box-shadow: $shadow;
    .second-page-post__description {
        margin-left: 4.8%;
        margin-right: 8px;
    }
}
    .second-page-post__action {
        button{
            width: 88px;
            height: 38px;
            color:$titles-color;
            font-size: 11.4px;
            margin-left: 3%;
            margin-right: 21%;
            background-color: $button-color;
            margin-top: $margin;
            border-radius: $border-radius;
        };
    }
*/